In [ ]:
import json
import requests
import pandas as pd
import urllib

In [ ]:
def search_tshirt(start, end):
  data_collection = []
  for i in range (start, end):
    # set up the request parameters
    params = {
      'api_key': '110E52BE7C7E400A817141B9CE04D77E',
      'type': 'search',
      'url': 'https://www.amazon.co.uk/s?crid=14X95BDJC7LO&i=clothing&k=&ref=nb_sb_noss_2&sprefix=%2Cclothing%2C102&url=search-alias%3Dclothing',
      'search_term': 'T-shirt',
      'exclude_sponsored' : True,
      'page' : i,
      'sort_by': 'bestsellers'
    }

    # make the http GET request to Rainforest API
    api_result = requests.get('https://api.rainforestapi.com/request', params)

    result_json = api_result.json()
    if result_json['search_results']:
      data_collection += result_json['search_results']

  return data_collection

In [ ]:
df_bestseller = pd.DataFrame(search_tshirt(1, 301))

In [ ]:
df_bestseller.tail()

,position,title,asin,link,brand,categories,image,rating,ratings_total,featured_from_our_brands,prices,price,is_prime,bestseller,is_exclusive_to_amazon,is_amazon_brand,is_small_business,deal,coupon,availability
14396,44,"MEETYOO Men’s Tank Top, Sleeveless Tops Breath...",B08WZ4V2YF,https://www.amazon.co.uk/MEETYOO-Sleeveless-Br...,MEETYOO,"[{'name': 'Clothing', 'id': 'clothing'}]",https://m.media-amazon.com/images/I/61IVYgYZXV...,4.5,70.0,NaN,"[{'symbol': '£', 'value': 30.99, 'currency': '...","{'symbol': '£', 'value': 30.99, 'currency': 'G...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14397,45,Supportershop Unisex Kids Italy Fan T-shirt,B00JAI4ZLS,https://www.amazon.co.uk/Supportershop-Italy-T...,Supportershop,"[{'name': 'Clothing', 'id': 'clothing'}]",https://m.media-amazon.com/images/I/91tooD8KoE...,4.6,18.0,NaN,"[{'symbol': '£', 'value': 10.95, 'currency': '...","{'symbol': '£', 'value': 10.95, 'currency': 'G...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14398,46,Retro Animales Cat Retro Vintage T-Shirt,B0852M7CK3,https://www.amazon.co.uk/Cat-Kitten-Retro-Vint...,Retro Animales,"[{'name': 'Clothing', 'id': 'clothing'}]",https://m.media-amazon.com/images/I/71NAklHLHA...,4.4,11.0,NaN,"[{'symbol': '£', 'value': 17.99, 'currency': '...","{'symbol': '£', 'value': 17.99, 'currency': 'G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14399,47,STATE OF PALESTINE FLAG PALESTINE FLAG FREE PA...,B0952GXS25,https://www.amazon.co.uk/PALESTINE-FLAG-FREE-P...,STATE OF PALESTINE FLAG,"[{'name': 'Clothing', 'id': 'clothing'}]",https://m.media-amazon.com/images/I/71wEN9Oi3D...,5.0,2.0,NaN,"[{'symbol': '£', 'value': 14.99, 'currency': '...","{'symbol': '£', 'value': 14.99, 'currency': 'G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14400,48,Outlaw mc Support T-Shirt,B09MB89DPD,https://www.amazon.co.uk/Outlaw-mc-Support-T-S...,Outlaw mc Support,"[{'name': 'Clothing', 'id': 'clothing'}]",https://m.media-amazon.com/images/I/61W8hkADza...,4.7,4.0,NaN,"[{'symbol': '£', 'value': 17.49, 'currency': '...","{'symbol': '£', 'value': 17.49, 'currency': 'G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_bestseller.to_csv("/content/drive/My Drive/bestseller_data.csv")

In [ ]:
df_bestseller.to_excel("/content/drive/My Drive/bestseller_data.xlsx")

In [ ]:
image_list = df_bestseller['image']

for index in range (len(image_list)):
  image = urllib.request.urlretrieve(image_list[index], '/content/drive/My Drive/bestseller_tshirt/%s.jpg' % str(index))